header {
	background-color: rgba(32,32,32, 0.8);
}

#header-logo {
	color: var(--secondary-color);
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}

.theme-mode {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--secondary-color);
}

.switch-theme-mode {
	cursor: pointer;
}

.header-nav>*:not(:first-child) {
	margin-left: 0.5rem
}

ul.nav-bar {
	display: flex;
  margin: 0 0.5rem;
  color: var(--secondary-color);

	a {
		font-size: 1.2em;
	}
}

a.underline-animate {
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(currentColor, currentColor),
    linear-gradient(#37cdbe, #37cdbe);
  background-repeat: no-repeat;
  background-size: 100% 1px, 0 1px, 0 1px;
  background-position: 0 100%, 100% 100%, 0 100%;
  transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out;
}

a.underline-animate:active,
a.underline-animate:hover {
  outline: 0;
  text-decoration: none;
  color: #37cdbe;
  background-size: 0 1px, 0 1px, 100% 1px;
}

a.underline-animate.nav-menu__active {
	outline: 0;
	text-decoration: none;
	color: #37cdbe;
	background-size: 0 1px, 0 1px, 100% 1px;
}

header.sticky-menu {
	position: fixed;
	top: 0;
	z-index: 1001;

	width: 100%;
	background-color: rgba(32,32,32, 0.8);
}
