header {
  background-color: rgba(32, 32, 32, 0.8);
}

#header-logo {
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.theme-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.switch-theme-mode {
  cursor: pointer;
}

.header-nav > *:not(:first-child) {
  margin-left: 0.5rem;

  @media screen and (max-width: 768px) {
    margin-left: 0;

		& > * {
			transition-duration: 0s;
		}
  }
}

ul.nav-bar {
  display: flex;
  margin: 0 0.5rem;
  color: var(--secondary-color);
	transition-duration: 0s;

  li {
    @media screen and (max-width: 768px) {
      margin: 0.5em 0;
    }
  }

  a {
    font-size: 1.2em;
		
    @media screen and (max-width: 768px) {
			font-size: 1.6em;
    }
  }

	& > * {
		transition-duration: 0s;
	}

  @media screen and (max-width: 768px) {
		position: fixed;
    top: 0;
    left: 100%;
		display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding-top: 60px;
    color: var(--color);
    background: var(--secondary-color);
    visibility: hidden;
		opacity: 0;
  }
}

a.underline-animate {
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(currentColor, currentColor),
    linear-gradient(#37cdbe, #37cdbe);
  background-repeat: no-repeat;
  background-size: 100% 1px, 0 1px, 0 1px;
  background-position: 0 100%, 100% 100%, 0 100%;
  transition: background-size 0.3s ease-in-out, color 0s ease-in-out;
}

a.underline-animate:active,
a.underline-animate:hover {
  outline: 0;
  text-decoration: none;
  color: #37cdbe;
  background-size: 0 1px, 0 1px, 100% 1px;
}

a.underline-animate.nav-menu__active {
  outline: 0;
  text-decoration: none;
  color: #37cdbe;
  background-size: 0 1px, 0 1px, 100% 1px;
}

header.sticky-menu {
  position: fixed;
  top: 0;
  z-index: 1001;
  width: 100%;
  background-color: rgba(32, 32, 32, 0.8);
}

/* ---- Burger menu CSS ---- */
.menu-btn {
	display: none;
	position: relative;
	z-index: 999;
  display: inline-block;
  margin: 0;
  padding: 5px;
  overflow: visible;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  border: 0;
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 0;
  text-transform: none;
	visibility: hidden;
	opacity: 0;
  cursor: pointer;
	transition: opacity 0s, visibility 0s;

	&:hover {
		opacity: 0.8;
		transition: opacity 0.2s;
	}

  .menu-btn__inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    }

    &::after {
      transition: bottom 0.075s 0.12s ease,
        transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

		&,
		&::before,
		&::after{
			background-color: var(--secondary-color);
		}
  }

  &.is-active {
    .menu-btn__inner {
      transform: rotate(45deg);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-delay: 0.12s;

      &::before {
        top: 0;
        transition: top 0.075s ease, opacity 0.075s 0.12s ease;
        opacity: 0;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.075s ease,
          transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

			&,
			&::before,
			&::after{
				background-color: var(--color);
			}
    }
  }

	&.is-active + .nav-bar {
		left: 0;
		visibility: visible;
		opacity: 1;
		transition: left 0.2s linear;
	}

	@media screen and (max-width: 768px) {
		display: inline-block;
		visibility: visible;
		opacity: 1;
	}
}

.menu-btn__block {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 25px;
}

.menu-btn__inner {
  display: block;
  top: 50%;
  transform: translateY(-50%);

  &,
  &::before,
  &::after {
    position: absolute;
    width: 36px;
    height: 3px;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    background-color: var(--color);
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: (8px + 3px) * -1;
  }

  &::after {
    bottom: (8px + 3px) * -1;
  }
}
