.reviews {
  &__item {
    margin-bottom: 1.2em;
    padding: 1rem;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  &__author {
    margin-bottom: 0.5em;
    font-size: 1.1rem;
    font-weight: bold;
  }

  &__content {
    margin-bottom: 1em;
  }
}